<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<div id='wrap'>

		<%= image_tag "MK_High_Res.png", id: "WOO" %>
		<ul id='nav'>

			<% if @current_user.present? %>   
            
                <li><%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you want to logout?' } %></li>
                <li><%= link_to "Edit Profile", edit_user_path( @current_user ) %></li>     
            <% else %>
           
            	<li><a href="<%= new_user_path %>">Create Account</a></li>
            	<li><a href="<%= login_path %>">Login</a></li>
            
            
            <% end %>
			
			<li><%= link_to "Videos", videos_path %></li> 
			<li><%= link_to "Home", root_path %></li> 
			</ul>

			
			
			
			
				
			
			
		</ul>
	</div>

	<div id="content">
		<%= yield %>
	</div>

</body>
</html>
